[Desktop Entry]
Type=Application
Version=1.0
Name=CompileManager
Comment=Programma che facilita la compilazione del codice sorgente
Path=/usr/bin
Exec=compileManager %U
Icon=/opt/compileManager/icon.png
Terminal=false
Categories=Utility;Development;
